{% extends 'base.html.twig' %}

{% block body %}




    <div class="page-header">
        <div class="row align-items-center">
            <div class="col-auto">
                <h2 class="page-title">
                    Создать категорию
                </h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {{ include('categories/_form.html.twig') }}
        </div>
    </div>





{% endblock %}
